.topCat h1 {
    font-size: 50px;
    font-family: cursive;
    padding: 0px 20px 20px 20px;
}

.mentors h1 {
    font-size: 50px;
    font-family: cursive;
    padding: 0px 20px 20px 20px;
}

.subDiv {
    padding: 20px;
    background: linear-gradient(to right, rgb(170, 168, 168), white);
}

.contents {
    display: flex;
    justify-content: space-around;
}

.contents div {
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    font-family: cursive;
}

.contents div:hover {
    transform: scale(1.2);
    transition: 0.5s;
    background-color: rgb(156, 156, 241);
    color: white;
    font-weight: normal;
}

.imageDiv img {
    height: 250px;
    border-radius: 10px;
}

.mentorDiv {
    padding: 10px;
    cursor: pointer;
}

.mentorDiv:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.mentorDiv p {
    font-size: 15px;
    font-weight: 800;
    padding: 4px;
}

.mentorSub {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}